{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="padding:10px 10px 10px 10px;">
    <div class="container" style="padding:10px 10px 10px 10px;">
        <div class="card">
            <div class="card-header" style="padding:10;">
                Step 1
            </div>
            <div class="card-body">
                <h5 class="card-title">Go to your google account, click on security</h5>
                <img src="{% static 'S1.PNG' %} ">
            </div>
        </div>
    </div>

    <div class="container" style="padding:10px 10px 10px 10px;">
        <div class="card">
            <div class="card-header" style="padding:10;">
                Step 2
            </div>
            <div class="card-body">
                <h5 class="card-title">Click on 2 Step varifivation</h5>
                <img src="{% static 'S2.PNG' %} ">
            </div>
        </div>
    </div>
    <div class="container" style="padding:10px 10px 10px 10px;">
        <div class="card">
            <div class="card-header" style="padding:10;">
                Step 3
            </div>
            <div class="card-body">
                <h5 class="card-title">Click on get started, login to google again</h5>
                <img src="{% static 'S3.PNG' %} ">
            </div>
        </div>
    </div>
    <div class="container" style="padding:10px 10px 10px 10px;">
        <div class="card">
            <div class="card-header" style="padding:10;">
                Step 4
            </div>
            <div class="card-body">
                <h5 class="card-title">Enter your phone number, click on next, enter otp and click varify</h5>
                <img src="{% static 'S4.PNG' %} ">
            </div>
        </div>
    </div>
    <div class="container" style="padding:10px 10px 10px 10px;">
        <div class="card">
            <div class="card-header" style="padding:10;">
                Step 5
            </div>
            <div class="card-body">
                <h5 class="card-title">you shoul get something like this</h5>
                <img src="{% static 'S5.PNG' %} ">
            </div>
        </div>
    </div>
    <div class="container" style="padding:10px 10px 10px 10px;">
        <div class="card">
            <div class="card-header" style="padding:10;">
                Step 6
            </div>
            <div class="card-body">
                <h5 class="card-title">Click turn on</h5>
                <img src="{% static 'S6.PNG' %} ">
            </div>
        </div>
    </div>
    <div class="container" style="padding:10px 10px 10px 10px;">
        <div class="card">
            <div class="card-header" style="padding:10;">
                Step 7
            </div>
            <div class="card-body">
                <h5 class="card-title">Go back to google account, click secutity, now you will see App passwords, click
                    it</h5>
                <img src="{% static 'S7.PNG' %} ">
            </div>
        </div>
    </div>
    <div class="container" style="padding:10px 10px 10px 10px;">
        <div class="card">
            <div class="card-header" style="padding:10;">
                Step 8
            </div>
            <div class="card-body">
                <h5 class="card-title">In select app, click other and fill email_app, then click generate</h5>
                <img src="{% static 'S8.PNG' %} ">
            </div>
        </div>
    </div>
    <div class="container" style="padding:10px 10px 10px 10px;">
        <div class="card">
            <div class="card-header" style="padding:10;">
                Step 9
            </div>
            <div class="card-body">
                <h5 class="card-title">Horray all done, now use this password to avail our service</h5>
                <img src="{% static 'S9.PNG' %} ">
            </div>
        </div>
    </div>
    <div class="container" style="padding:10px 10px 10px 10px;">
        <div class="card">
            <div class="card-header" style="padding:10;">
                Step 10
            </div>
            <div class="card-body">
                <h5 class="card-title">If that still doesn't work, proceed <a
                        href="https://www.google.com/search?q=less+secure+apps&oq=less+secure+apps&aqs=edge..69i57j0l5j69i60l3.1030j0j1&sourceid=chrome&ie=UTF-8">HERE</a>
                    and
                    turn that on</h5>
            </div>
        </div>
    </div>

</div>
{% endblock content %}